.App {
  text-align: center;
}
.fade-enter {
  opacity: 0;
  /*transform: translateY(-100%);*/
  /*z-index: 1;*/
}

.fade-enter-active {
  opacity: 1;
  /*transform: translateY(0);*/
  transition: all 500ms;
}
.fade-exit {
  opacity: 1;
  transition: all 500ms;
  /*transform: translateY(0);*/
}

.fade-exit-active {
  opacity: 0;
  /*transform: translateY(100%);*/
  /*transition: all 500ms;*/
}