.view-container {
    display: flex;
    width: 100%;
    text-align: left;
    padding: 1%;
    background: white;
}

.view-text-content {
    color: white;
    background: black;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.view-left {
    flex: 2;
}

.view-right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.viev-discount-title {
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(159,197,232,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(159,197,232,1);
    box-shadow: inset 0px 0px 5px 0px rgba(159,197,232,1);
    width: 80px;
    margin-bottom: 10px;
}

.view-discount-number {
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    width: 80px;
}

.view-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;

}

.view-table--title {
    text-align: center;
}

.product-total {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 1%;
}

.total-title {
    height: 40px;
    width: 140px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(39,78,194,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(39,78,194,1);
    box-shadow: inset 0px 0px 5px 0px rgba(39,78,194,1);
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    font-size: 19px;
}
.total-count {
    width: 100px;
    height: 40px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    box-shadow: inset 0px 0px 5px 0px rgba(120,138,126,1);
    text-align: center;
    line-height: 32px;
}